<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />    
    <link rel="stylesheet" href="Content/site.css" />
    <link rel="stylesheet" href="Content/bower_components/kartverket-felleskomponenter/assets/css/main.css" />
    <link rel="stylesheet" href="Content/bower_components/kartverket-felleskomponenter/assets/css/vendor.css" />
    <link rel="stylesheet" href="Content/bower_components/kartverket-felleskomponenter/assets/css/vendorfonts.css" />
    @* <link rel="stylesheet" href="app.css" /> *@
    @* <link rel="stylesheet" href="Geonorge.Download.styles.css" /> *@
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script type="module" src="lib/geonorge/MainNavigation.js"></script>
    <script type="module" src="lib/geonorge/GeonorgeFooter.js"></script>
    <script src="lib/geonorge/GnDialog.js"></script>
    <script type="module" src="js/gnDialogEvents.js"></script>

</body>

</html>
