<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="GeoNetworkUrl" value="http://www.geonorge.no/geonetworkbeta/" />
  <add key="GeoNetworkUsername" value="" />
  <add key="GeoNetworkPassword" value="" />
  <add key="GeonorgeUsername" value="" />
  <add key="ExternalClientToken" value="" />
</appSettings>