<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="GeoNetworkUrl" value="http://www.geonorge.no/geonetworkbeta/" />
  <add key="GeoNetworkUsername" value="" />
  <add key="GeoNetworkPassword" value="" />
  <add key="GeonorgeUsername" value="" />
  <add key="ExternalClientToken" value="" />
  <add key="GeoID:ClientId" value="" />
  <add key="GeoID:ClientSecret" value="" />
  <add key="GeoID:Authority" value="" />
  <add key="GeoID:Issuer" value="" />
  <add key="GeoID:RedirectUri" value="https://xxxx/signin-oidc" />
  <add key="GeoID:PostLogoutRedirectUri" value="https://xxxx/signout-callback-oidc" />
  <add key="GeoID:MetadataAddress" value="" />
  <add key="GeoID:BaatAuthzApiUrl" value=""/>
  <add key="GeoID:BaatAuthzApiCredentials" value=""/> <!-- brukernavn og passord separert med kolon -->
  <add key="GeoID:IntrospectionUrl" value=""/>
  <add key="GeoID:IntrospectionCredentials" value=""/>
</appSettings>