<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error/" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Error/NotFound/" />
    </customErrors>
  </system.web>

  <log4net debug="true">
    <root>
      <priority value="INFO" xdt:Transform="Replace" />
    </root>
  </log4net>
</configuration>