@page "/order/details/{OrderId}"
@using Geonorge.Download.Models
@using Geonorge.Download.Services.Interfaces
@inject IOrderService OrderService
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Nav

<h2>Ordre @order?.referenceNumber</h2>

@if (order == null)
{
    <p><em>Laster ordredata...</em></p>
}
else
{
    <div>
        <hr />
        <ul>
            @foreach (var item in order.orderItem)
            {
                <li class="list-group">
                    @if (item.IsReadyForDownload())
                    {
                        <a href="@($"{ApiMethodGetFile}/{item.Order.Uuid}/{item.Uuid}")" download>
                            @item.MetadataName: @item.FileName
                        </a>
                    }
                    else
                    {
                        @item.MetadataName <span>(venter på behandling)</span>
                    }
                </li>
            }
        </ul>
    </div>
}

@code {
    [Parameter] public string OrderId { get; set; } = "";
    private Order? order;
    private string ApiMethodGetFile = "/api/download/order";

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrWhiteSpace(OrderId))
        {
            Nav.NavigateTo("/not-found", forceLoad: true);
            return;
        }

        order = OrderService.Find(OrderId);
        if (order is null)
        {
            Nav.NavigateTo("/error/not-found", forceLoad: true);
            return;
        }

        var authState = await AuthProvider.GetAuthenticationStateAsync();
        if (!order.CanBeDownloadedByUser(authState.User))
        {
            var returnUrl = Uri.EscapeDataString(Nav.Uri);
            Nav.NavigateTo($"/error/unauthorized?returnUrl={returnUrl}");
            return;
        }
    }
}
