


    <section class="heading">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    Nedlasting API
                </h1>
            </div>
            <div class="col-sm-12">
                <span class="separator-lg"></span>
            </div>
        </div>
    </section>


    <p class="lead" style="font-size:18px">Se @Html.ActionLink("dokumentasjon for nedlasting API", "Index", "Help", new { area = "" }, null)</p>

    

