

<div class="row">


    <h1>Kartverket.Geonorge.Download</h1>
    <p class="lead" style="font-size:18px">@Html.ActionLink("API", "Index", "Help", new { area = "" }, null) for download service</p>

    
</div>
