name: NedlastingAPI
on:
  push:
    branches:
      - dotnet-8
  workflow_dispatch:

env:
  DOCKER_REGISTRY: ghcr.io
  NEDLASTINGAPI_NAME: kartverket/geonorge-nedlastingapi

jobs:
  build_nedlastingapi:
    name: Build and Push genorge-nedlastingapi Image
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      actions: read
      id-token: write

    outputs:
      version: ${{ steps.set_output.outputs.version }}
      tags: ${{ steps.meta.outputs.tags }}
      commit_message: ${{ steps.get_commit_message.outputs.nedlasting_commit_message }}

    steps:
      # - run: echo ${{ github.event.client_payload.ref }}
      # - uses: octo-sts/action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
      #   id: octo-sts
      #   with:
      #     scope: kartverket/datadeling-apps
      #     identity: geonorge-nedlastingapi

      - name: Checkout repository
        uses: actions/checkout@v4

      # Extract the latest commit message from the current repo
      - name: Get commit message
        id: get_commit_message
        run: |
          RAW_MSG="$(git log -1 --pretty=%B)"
          CLEANED_MSG=$(jq -Rs '.' <<<"$RAW_MSG" | jq -r '. | gsub("\\n";" ")')
          echo "nedlasting_commit_message=$CLEANED_MSG" >> $GITHUB_OUTPUT

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_REGISTRY }}/${{ env.NEDLASTINGAPI_NAME }}
          tags: type=sha,format=long

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build docker image and push
        id: build_nedlastingapi
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Geonorge.Download/Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true

      - name: Summarize Image Digest and Set Output
        id: set_output
        run: |
          echo "Full Image URL: ${{ env.DOCKER_REGISTRY }}/${{ env.NEDLASTINGAPI_NAME }}:${{ steps.meta.outputs.version }}@${{steps.build_nedlastingapi.outputs.digest}}" >> $GITHUB_STEP_SUMMARY
          echo "version=${{ github.ref_name }}@${{steps.build_nedlastingapi.outputs.digest}}" >> $GITHUB_OUTPUT

  trigger_internal:
    needs: [build_nedlastingapi]
    runs-on: ubuntu-latest
    steps:
      - name: Trigger internal repo workflow
        run: |
          curl -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.INTERNAL_PAT }}" \
          https://api.github.com/repos/kartverket/datadeling-apps/actions/workflows/update-dev-image.yml/dispatches \
          -d '{"ref":"main","inputs":{"application":"geonorge-nedlasting-api","namespace":"datadeling-geonorge","tag":"${{needs.build_nedlastingapi.outputs.tags}}","commit_message":"${{needs.build_nedlastingapi.outputs.commit_message}}"}}'

  # deploy:
  #   needs: [build_nedlastingapi]
  #   name: Deploy
  #   permissions:
  #     # contents: write
  #     # actions: write
  #     id-token: write
  #   uses: kartverket/datadeling-apps/.github/workflows/release-geosaga.yml@main
  #   # secrets:
  #   #   token: ${{  needs.deploy.outputs.token }}
  #   with:
  #     # Apps repo namespace
  #     namespace: datadeling-geonorge
  #     # Apps repo app name
  #     application: geonorge-nedlasting-api
  #     # Ghrc.io image tag
  #     tag: ${{ needs.build_mapserver.outputs.tags }}
  #     # identity for the octo-sts action
  #     identity: geonorge-nedlastingapi
  #     deploy_dev: true
  #     deploy_prod: false
  #     commit_message: ${{ needs.build_mapserver.outputs.commit_message }}
